.index{
    background-image: url('./images/login_withoutlogg.png'); 
    height: 100vh;
    background-size: cover;
}
.border{
    margin: 0 auto;
    position: relative;
    height: 400px;
    width: 550px;
    border: solid 3px black;
    border-radius: 50px;
    top: 400px;
}
.button{
    position: relative;
    top: 650px;
}