.index{
    background-color: white;
    height: 200px;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -60px;
}
.text{
    font-size: 15px;
    overflow: scroll;
    height: 150px;
}
.time{
    font-size: 6px;
    font-weight: bolder;
}